#portfolio-3-col .element-item {
  padding-bottom: 3%;
}
div.breadcrumbs ol.breadcrumb li.active {
  text-transform: capitalize;
}
#LienHe .contact-map {
  height: 500px;
}
#LienHe .contact-map .embed-responsive {
  height: 500px;
}
#LienHe .contact-map .embed-responsive iframe {
  height: 500px;
}
div.navbar-header .navbar-brand img {
  margin-top: -15%;
}
ul.navbar-nav {
  padding: 1% 0;
}
ul.navbar-nav li a {
  font-size: 150%;
}
